services:
  web:
    build: .
    container_name: dwes-web
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:latest
    container_name: dwes-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: midb
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    container_name: dwes-phpmyadmin
    image: phpmyadmin:latest
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    ports:
      - "8888:80"
    depends_on:
      - db

volumes:
  mysql_data:
