body {
    margin: 0;
    padding: 0;
    background-image: url("/vistas/resources/background_index.png");
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login-box {
    
    background-color: white;
    border-radius: 30px;
    width: 500px;
    min-height: 300px;
    height: auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 15px 40px black;
    display: block;
}

.login-box h2{
    padding-bottom: 25px;
}


.iconBox img{
    width: 300px;
    height: 150px;

}

.mensaje-box{   
    background-color: rgb(187, 84, 84);
    color: rgb(65, 12, 12);
    height: auto;
    min-height: 50px;
    width: 500px;
    border-radius: 30px;
    margin-top: 20px;
    padding: 15px;
    text-align: center;
}