<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Crear usuario</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/vistas/styles/home.css?v=1">
	</head>

	<body>

		<div
			class="container py-4">

			<div class="d-flex justify-content-end gap-2 mb-4 top-buttons">
				<a href="/home" class="btn btn-outline-light btn-sm">Home</a>
				<a href="/logout" class="btn btn-danger btn-sm">Cerrar sesión</a>
			</div>

			<h1 class="fw-bold mb-4 text-warning title-glow text-center">
				Crear nuevo usuario
			</h1>

			<div class="inazuma-card p-4 rounded">

				{% if error == "email" %}
					<div class="alert alert-danger text-center">
						El email ya está en uso.
					</div>
				{% endif %}

				<form action="/admin/usuario/crear" method="POST">

					<div class="mb-3">
						<label class="form-label">Nombre</label>
						<input type="text" name="nombre" class="form-control" required>
					</div>

					<div class="mb-3">
						<label class="form-label">Email</label>
						<input type="email" name="email" class="form-control" required>
					</div>


					<div class="mb-3">
						<label class="form-label">Contraseña</label>
						<input type="password" name="password" class="form-control" required>
					</div>


					<button class="btn btn-success w-100 mt-3">
						Crear usuario
					</button>

				</form>

			</div>

			<footer class="footer-inazuma mt-4">
				Miguel Ángel Postigo Bernal | 2ºDAW
			</footer>

		</div>

	</body>
</html>
